.container__partners {
    width: 100%;
    height: 512px;
    margin-bottom: 97px;
}
.partners {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../img/partner_back.svg) bottom no-repeat, url(../img/partners_background.svg) center/cover no-repeat;
}
.partners__column {
    position: absolute;
    top: -310px;
}
.column__left {
    left: 0;
}
.column__right {
    right: 0;
}
.partners__content{
    height: 512px;
    position: relative;
    bottom: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.partners__title {
    font-family: Roboto Condensed;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 64px;
}
.partners__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.partners__item {
    flex-basis: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        margin-bottom: 80px;
    }
}

@media (max-width: 1200px) {
    .partners__wrapper{
        justify-content: center;
    }
    .partners__item {
        flex-basis: 170px;
        & img{
            margin-bottom: 50px;
        }
    }
}

@media (max-width: 768px) {
    .container__partners{
        margin-bottom: 80px;
    }
    .partners{
        background: none;
    }
    .partners__content{
        height: initial;
        bottom: initial;
        justify-content: flex-start;
    }
    .container__partners{
        height: 100%;
    }
    .partners__title{
        font-weight: bold;
        font-size: 24px;
        align-self: flex-start;
    }
    .partners__column{
        display: none;
    }
}