.social{
    margin-bottom: 120px;
}
.title_social_up{
    width: 757px;
    height: 37px;
    top: 0;
    font-style: italic;
    font-weight: bold;
    font-size: 34px;
    line-height: 47px;
    text-transform: uppercase;
    vertical-align: top;
    font-weight:700;
& span{
    color:  #A09999;
}
}
.title_social_down{
    
    width: 426px;
    height: 15px;
      font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #A09999;
    margin-top:24px;
}

.block_link{
    display: flex;
    justify-content: space-between; 
    margin-top: 40px;  
    .card{}
.card-link_social{}

.card_wrap-img1_link{
    z-index: 1;
    position: relative;
    width: 390px;
    height: 218px;
    // background-color: yellow;
    background: url(../img/social_icon_under/back_vk.svg), no-repeat, center;
    backdrop-filter: blur(6px);
    background-size: 100%;
}

.img-layer1_link{
    z-index: 99;
    top:0;
    width: 390px;
    height: 218px;
    position: absolute;
    // background: yellow;
    background: linear-gradient(180deg, rgba(35, 22, 21, 0) 0%, rgba(35, 22, 21, 0.4) 100%), rgba(170, 140, 102, 0.3);
    backdrop-filter: blur(4px);
}
.card_wrap-img1_link img{
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.card_wrap-img_link{
    z-index: 1;
    position: relative;
    width: 285px;
    height: 285px;
    // background-color: yellow;
    background: url(../img/social_icon_under/back_vk.svg), no-repeat, center;
    background-size: 100%;
    
}

.img-layer_link{
    z-index: 99;
    top:0;
    width: 285px;
    height: 285px;
    position: absolute;
    // background: yellow;
    background: linear-gradient(180deg, rgba(34, 34, 34, 0) 0%, #222222 100%);
    opacity: 1;
}
.card_wrap-img_link img{
    z-index: 1;
    position: relative;
    height: 100%;
    width: 100%;
}

.wrap-icon_link{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap-icon_link .test-icon_link{
    width: 56px;
    height: 56px;
}

   
    
}
.block_link:hover{
    & .wrap-icon_link{
        opacity: 0;
    }
    & .img-layer_link{
        
           opacity: 0;
        
    }
}
.social_card{
    width: 100%;
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    grid-column-gap:30px ;
}
@media (max-width:1300px){
    .social_link{
        width: 100%;
        max-width: initial;
    }
    .social_card{
        width: 100%;
        max-width: initial;
        grid-template-columns: 260px 260px 260px 260px;

    
    .card{
        width: 100%;
        max-width: initial;
    }
    .block_link{
        width: 100%;
        max-width: initial;
        
    
    .card_wrap-img_link{
        width: 100%;
        height: 100%;
    }
    .img-layer_link{
       width: 100%;
        height: 100%
    }
}
}


}
@media (max-width:1200px){
    .social_link{
        width: 100%;
        max-width: initial;
    }
    .social_card{
        width: 100%;
        max-width: initial;
        grid-template-columns: 217px 217px 217px 217px;

    
    .card{
        width: 100%;
        max-width: initial;
    }
    .block_link{
        width: 100%;
        max-width: initial;
        
    
    .card_wrap-img_link{
        width: 100%;
        height: 100%;
    }
    .img-layer_link{
        width: 100%;
        height: 100%;
    }
}
    }
}
    @media (max-width:992px){
     
        .social_link{
            width: 100%;
            max-width: initial;
        }
        .social_card{
            width: 100%;
            max-width: initial;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 16px;
           
    
        
        .card{
            width: 100%;
            max-width: initial;
        }
        .block_link{
            width: 100%;
            max-width: initial;
            margin-top: 16px;   
            display: inline-block;         
        
        .card_wrap-img_link{
            width: 100%;
            height: 100%;
        }
        .img-layer_link{
            width: 100%;
            height: 100%;
        }
    }
}
    }
    @media (max-width:768px){
        .social{
            margin-bottom: 64px;
            width: 100%;
        }
        .text_of_title_social_up{
            font-size: 22px;
            width: 100%;
            line-height: 28px;     
        }
        .head_social{
            height: 0px;
         margin-bottom: 62px;
          }
        .title_social_up,.title_social_down{
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .social_link{
            width: 100%;
            padding:0px;
        
            .social_card{
                width: 100%;
                max-width: initial;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 16px;
                margin-top: 0px;
               
        
            
            .card{
                width: 100%;
                max-width: initial;
               
            }
            .block_link{
                width: 100%;
                max-width: initial;
                
                display: inline-block;         
            
            .card_wrap-img_link{
                width: 100%;
                height: 100%;
            }
            .img-layer_link{
                width: 100%;
                height: 100%;
            }
    }

     
        }
    }
    }
    @media (max-width:380px){
        .container{
            display: contents;
        }
        .social{ padding: 0px 8px 0px 8px;}
      
         
            & .title_social_up{
                
               
                & .text_of_title_social_up{
                font-size: 18px;
                width: 100%;
                line-height: 28px;
                margin-top: 16px;
                
                }
            }
            & .title_social_down{
                & .text_of_title_social_down{
                    font-size: 15px;
                }
            }
        
        .social_link{
            width: 100%;
           
            
            .social_card{
                width: 100%;
                max-width: initial;
                grid-template-columns: 1fr 1fr;
                margin-top: 0px;
            .card{
                width: 100%;
                max-width: initial;
               
            }
            .block_link{
                width: 100%;
                max-width: initial;
                margin-top: 16px;   
                display: inline-block;         
            
            .card_wrap-img_link{
                width: 100%;
                height: 100%;
            }
            .img-layer_link{
                width: 100%;
                height: 100%;
            }
        }
    }
}
    }
  
   /*  @media screen and (max-width: 720px) {
        span.bold { 
            display: none;
       }
   } */

   //
   //margin-bottom: 64px;